
<!-- Page Title Section -->
<div class="title-wrapper" fxLayoutAlign="center center">
  <div class="title">
    <h1>Try out my real time face recognition!</h1>
  </div>
</div>

<!--Page Description-->
<div class="description-wrapper">
  <div class="description">
    <p>To start recording yourself simply click the button below, and be amazed by the results!</p>
  </div>
</div>

<!--Video Section, here there will be the video button and the streaming components-->
<app-videosection></app-videosection>


